@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Authenticate", "Login", FormMethod.Post))
{
	<input type="text" name="username" />
	<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl">
	<input type="submit" value="Go" />
}